<hr>
<div class="container-fluid">
    <div class="row">
        <div class="card col-sm">
            <img class="card-img-top" src="../../../assets/images/barco.jpg" alt="barco feito com pneus, pessoa dentro">
            <div class="card-body">
            <p class="card-text">Barco feito com pneus, dá para até duas pessoas sentarem</p>
            </div>
        </div>
        <div class="card col-sm">
            <img class="card-img-top" src="../../../assets/images/cavalo.jpg" alt="cavalo + carroça, feitos com pneus">
            <div class="card-body">
            <p class="card-text">Cavalo + carroça, feitos            com pneus</p>
            </div>
        </div>
        <div class="card col-sm">
            <img class="card-img-top" src="../../../assets/images/gansos.jpg" alt="quatro gansos formando dois corações, feitos com pneus">
            <div class="card-body">
            <p class="card-text">Gansos, feitos com pneus</p>
            </div>
        </div>
        <div class="card col-sm">
            <img class="card-img-top" src="../../../assets/images/pavão.jpg" alt="pavão, feito com pneus">
            <div class="card-body">
            <p class="card-text">Pavão, feito com pneus</p>
            </div>
        </div>
        <hr>
        <div class="card col-sm">
            <img class="card-img-top" src="../../../assets/images/trator.jpg" alt="trator, feito com pneus">
            <div class="card-body">
            <p class="card-text">Trator feito com pneus, dá para uma pessoa sentar</p>
            </div>
        </div>
        <div class="card col-sm">
            <img class="card-img-top" src="../../../assets/images/vasos de plantas.jpg" alt="quatro vasos de plantas, feitos com pneus">
            <div class="card-body">
            <p class="card-text">Vasos de plantas, feitos com pneus</p>
            </div>
        </div>
        <div class="card col-sm">
            <img class="card-img-top" src="../../../assets/images/xícara.jpg" alt="xícara + pires, feitos com pneus">
            <div class="card-body">
            <p class="card-text">Xícara + pires, s com pneus</p>
            </div>
        </div>
        <div class="card col-sm">
            <img class="card-img-top" src="../../../assets/images/fruteira.jpg" alt="fruteira com desenho de melancia, feita com pneus">
            <div class="card-body">
            <p class="card-text">Fruteira, feita com pneus</p>
            </div>
        </div>
        <hr>
    </div>
</div>